.col-md-6 img {
  height: 500px;
  width: 500px;
}

@media screen and (max-width: 992px) {
  .col-md-6 img {
    height: 400px;
    width: 320px;
  }
}

@media screen and (max-width: 767.7px) {
  .col-md-6 img {
    height: 350px;
    width: 340px;
  }
  .img-about {
    margin-bottom: 20px;
  }
  .tex-about {
    text-align: center;
  }
  .tex2-about {
    order: 1 !important;
  }
}
